body {
  font-family: "Abel", "Tahoma",sans-serif;
}

a {
  font-size: 20px;
  color: #060;
  -webkit-text-decoration: none;
  -moz-text-decoration: none;
  -ms-text-decoration: none;
  -o-text-decoration: none;
  text-decoration: none;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}
.container2 {
  max-width: 1400px;
  margin: 0 auto;
}
section.module h2 {
  margin-bottom: 20px;
  font-size: 35px;
  color: rgba(204,204,204,1);
}
section.module p {
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
}
section.module p:last-child {
  margin-bottom: 0;
}

section.module.content {
  padding: 60px 0;
  text-align: left;
}

section.module.parallax {
  height: 800px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section.module.parallax h1 {
  font-size: 150px;
  line-height: 800px;
  text-align: center;
  text-transform: uppercase;
  -webkit-opacity: .8;
  -moz-opacity: .8;
  -ms-opacity: .8;
  -o-opacity: .8;
  opacity: .8;
  background: -webkit-linear-gradient(right, #f0f2f0, #989898);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Monoton', "Tahoma";
}
section.module.parallax-1 {
  background-image: url(i50716b7c78fc3.jpg);
}
section.module.parallax-2 {
  background-image: url(Navy_Pier_from_the_shoreline.jpg);
}
section.module.parallax-3 {
  background-image: url(water-japan-shrine-wallpaper.jpg);
}

.hide {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
}

.show {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
}
@media (max-width: 1160px){
  section.module.parallax h1{
    font-size: 100px;
  }
}
@media (max-width: 1100px){
  section.module h2 {
    font-size: 34px;
  }
  section.module p {
    font-size: 18px;
  }
}
